<!-- creates search box for system -->
<div id="search-component">
    <h4><label for="search-box">Character Search</label></h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
        <li *ngFor="let character of character$ | async" >
                {{character.name}}<br>
                Gender {{character.gender | uppercase}}<br>
                Born {{character.birth_year}}<br>
                {{character.homeworld}}<br>
                {{character.films}}
                <br><br>
        </li>
    </ul>
  </div>